<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common :: cdn">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common :: nav"/>

<div class="w3-container" style="width: 80%;margin-left: auto; margin-right: auto;">
    <h2><b>Recipe 게시판</b></h2>
    <br>
    <p style="text-align: right">
        <a sec:authorize="isAuthenticated()"
           th:href="@{/board/enroll}">
            <button class="w3-button w3-brown">글 쓰기</button>
        </a>
    </p>
    <table class="w3-table-all w3-hoverable">
        <thead>
        <tr class="w3-brown">
            <th width="200">글 번호</th>
            <th>음료명</th>
            <th width="200">작성자</th>
            <th width="200">작성일</th>
            <th width="100">조회수</th>
        </tr>
        </thead>
        <div th:each="blist : ${boardList}">
            <tr>
                <td th:text="${blist.num}">0</td>
                <td>
                    <a th:href="@{/board/detail(num=${blist.num})}" th:text="${blist.title}">연습제목</a>
                </td>
                <td th:text="${blist.writer}">홍길동</td>
                <td th:text="${blist.writeday}">22.08.31</td>
                <td th:text="${blist.readcnt}">0</td>
            </tr>
        </div>
    </table>
    <br>
    <div style="text-align: right">
        <th:block th:each="page : ${#numbers.sequence(pageList[1], pageList[2])}">
            <a th:if="${page != pageList[0]}"
               th:href="@{/board/list(page=${page-1})}"
               th:text="${page}"
               search="${param.search}"></a>
            <strong th:unless="${page != pageList[0]}"
                    th:text="${page}" style="color : red"></strong>
        </th:block>
    </div>
</div>

<form th:action="@{/board/list}" method="get" align="center">
    <select name="category">
        <option value="title">음료명(제목)
        <option value="writer">작성자
    </select>
    <input type="text" name="search">
    <input type="submit" value="검색">
</form>


</body>
</html>