<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: cdn">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common :: nav"></div>

<table align="center" width="1000" height="600">
    <tr>
        <td width="400" height="600" style="text-align: center">
            이미지 미리보기<br>
            <img th:src="${mdto.filepath}" id="preview" width="400" height="600">
        </td>
        <td>
            <div class="w3-container">
                <div class="w3-card-4">
                    <header class="w3-container w3-brown">
                        <h1>상품등록</h1>
                    </header>

                    <div class="w3-container">
                        <form id="form" class="w3-container" th:action="@{/menu/enroll}" th:object="${mdto}" method="post" enctype="multipart/form-data">
                            <input th:field="*{num}" type="hidden">
                            <table align="center" width="100%">
                                <tr>
                                    <td>
                                        <p style="width: 80%">
                                            <label class="w3-text-brown"><b>분류</b></label>
                                            <select class="w3-select w3-border w3-sand" id="sort" name="sort">
                                                <option value="" disabled selected>선택</option>
                                                <option th:selected="${mdto.sort} == 'beverage'" value="beverage" class="w3-text-brown">음료</option>
                                                <option th:selected="${mdto.sort} == 'food'" value="food" class="w3-text-brown">푸드</option>
                                                <option th:selected="${mdto.sort} == 'topping'" value="topping" class="w3-text-brown">토핑</option>
                                            </select>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p p style="width: 90%">
                                            <label class="w3-text-brown" style="float: left"><b>이미지 선택</b></label>&emsp;
                                            <input type="file" class="w3-input w3-border w3-sand" id="file" onchange="readURL(this);" name="file">
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p p style="width: 90%">
                                            <label class="w3-text-brown"><b>상품명</b></label>
                                            <input th:field="*{product}" class="w3-input w3-border w3-sand" id="productName" name="product" type="text">
                                        </p>
                                        <p p style="width: 90%">
                                            <label class="w3-text-brown"><b>설명</b></label>
                                            <textarea th:field="*{content}" class="w3-input w3-border w3-sand" name="content" rows="5" cols="10"></textarea>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <p align="right">
                                <input type="submit" class="w3-btn w3-brown" value="등록하기">
                            </p>
                        </form>
                    </div>

                    <footer class="w3-container w3-brown">
                        <h5>MyCafeRecipe</h5>
                    </footer>
                </div>
            </div>
        </td>
    </tr>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
//이미지 미리보기
function readURL(input) {
	  if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function(e) {
	      document.getElementById('preview').src = e.target.result;
	    };
	    reader.readAsDataURL(input.files[0]);
	  }
	  else {
	    document.getElementById('preview').src = "";
	  }
}

</script>

</body>
</html>