<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <div th:fragment="cdn">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </div>
    <title>Title</title>
</head>
<body>

<!-- 네비바 -->
<nav class="navbar navbar-inverse" th:fragment="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}">
        <b>마이카페레시피</b>
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a th:href="@{/menu/list}">메뉴목록</a></li>
      <li><a th:href="@{/board/list}">레시피 게시판</a></li>
      <li><a th:href="@{/map}">주변 카페찾기</a></li>
    </ul>
    <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
      <li>
        <a th:href="@{/join/new}">
          <span class="glyphicon glyphicon-user"></span> 회원가입
        </a>
      </li>
      <li>
        <a th:href="@{/login}">
          <span class="glyphicon glyphicon-log-in"></span> 로그인
        </a>
      </li>
    </ul>
    <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
      <span sec:authentication="name" style="color: white">사용자 아이디</span>
      <span sec:authentication="principal.authorities" style="color: white">사용자 권한</span>
      <form th:action="@{/logout}" method="post">
        <button class="glyphicon glyphicon-log-in">로그아웃</button>
      </form>
    </ul>
  </div>
</nav>

</body>
</html>